footer{
  text-align: center;
  color: orange;
  font-size: 10pt;
  background: grey;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}
div{
  background-color: rgba(255,255,255,.7);
  min-width: 200px;
  width: 50%;
}
h1 {
  font-family: fantasy;
  margin-left: 20%;
  margin-right: 20%;
  color: forestgreen;
  font-weight: 600;
  font-size: 30;
}
header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(180,180,180, .5);
}
main {
  padding-top: 80px;
  margin-top: 100px;
}
img {
  float: right;
}
body {
  background-image: url("chess.jpg");
  color: red;
  font-weight: bold;
}

#face-shot {
  align-items: center;
  padding-left: 30%;
}
nav {
  font-size: 20pt;
  font-family: monospace;
}
